body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-image: url(bg2.jpg);
}

header{
    background-image: url(bgbuku.jpg);
    text-align: right;
    justify-content: right;
    margin-right: 2cm;
    margin-top: 20px;
    position: sticky;
}

h1{
    display: flex;
    font-family: playfair;
    font-weight: 50px;
    font-size: 50px;
    color: #fff;
    justify-content: center;
}

.user-actions2 {
    width: fit-content;
    position: relative;
    text-align: center;
    margin-top: 2.5cm;
    margin-left: 10.5cm;
    margin-left: 10.5cm;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action2-btn {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    position: relative;
    transition: linear; /* Efek transisi saat hover */
}

.action2-text {
    display: block;
    background-image: ;
    text-align: center;
    justify-content: center;
    margin-top: 18px;
    color: white; /* Warna teks sesuai kebutuhan */
    transition: linear;
}

.action2-btn:hover {
    border-bottom: 2px solid #fff; /* Garis bawah saat tombol dihover */
}

.action2-btn img {
    width: 4cm; 
    height: 4cm;
    margin-right: 5px;
    justify-content: center;
}

.action2-btn:hover img {
    transform: scale(1.2); /* Membesarkan ikon saat tombol dihover */
}
